
/* Style for Poop Zapper (content script) */
/* ------------------------------------------ */
.item-highlight {
    border: 2px solid #ff66ff !important;
    border-radius: 6px !important;
    background-color: #ffe6ff !important;
}

.item-highlight * {
    background-color: #ffe6ff !important;
}

.item-transparent * {
    opacity: 0.7 !important;
}

.item-hide * { /* Can certainly be imporoved (to avoid blank spaces from margin-padding) */
    opacity: 0 !important;
    height: 0;
    margin: 0;
    padding: 0;
}


/* Style for the popup */
/* ------------------------------------------ */
.container {
  width: 300px;
  padding: 10px;
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 18px;
  color: #2c3e50;
  text-align: center;
}


/* Switch */
/* ------------------------------------------ */
.toggle-switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.square .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 3px;
}


.square .slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 0;
}

.square input:checked+.slider {
    background-color: #f976e8;
}

.square input:checked+.slider:before {
    transform: translateX(20px);
}